<!-- Main modal -->
<div
  class="top-0 left-0 right-0 z-50  w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="w-full max-h-full">
    <!-- Modal content -->
    <div class="flex justify-between">
      <button (click)="clickCloseDialog()" type="button"
              class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
              data-modal-hide="authentication-modal">
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
      <h3
        class="mb-4 text-xl font-medium text-gray-900 dark:text-white">{{heroModel && heroModel.id ? 'Edit' : 'Create'}}
        hero</h3>
    </div>
    <div class="px-6 pt-6 pb-3 lg:px-8">
      <form class="space-y-6" [formGroup]="heroForm" autocomplete="off">
        <div class="row">
          <div class="col-6">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
            <input type="text" name="name" id="name" [formControl]="nameControl" autocomplete="off"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                   [ngClass]="{ 'is__invalid-input': nameControl.invalid && (nameControl.touched || nameControl.dirty)}">
            <div *ngIf="nameControl.invalid" class="is__invalid-error">
              <div *ngIf="nameControl.touched || nameControl.dirty">Name is required</div>
            </div>
          </div>
          <div class="col-6 mb-3">
            <label for="health" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Health</label>
            <input type="text" name="health" id="health" [formControl]="healthControl" autocomplete="off"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                   [ngClass]="{'is__invalid-input': healthControl.invalid && (healthControl.touched || healthControl.dirty)}">
            <div *ngIf="healthControl.invalid" class="is__invalid-error">
              <div *ngIf="healthControl.touched || healthControl.dirty">Health is required</div>
            </div>
          </div>
          <div class="col-6 mb-3">
            <label for="srcImage" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Avatar</label>
            <label >
              <input #Image name="srcImage" id="srcImage" type="file" (change)="changeAvatar($event)" class="py-2" accept="image/*" />
              <img width="100%" [src]="(imageUrl != '') ? imageUrl : heroForm.value.srcImage"
                   [width]="100" [height]="100"
                   class="avatar bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
            </label>
          </div>
        </div>
        <div class="flex justify-content-center gap-x-3">
          <button type="button" (click)="clickCloseDialog()"
                  class="btn btn-outline-danger font-medium rounded-lg text-sm px-5 py-2.5 text-center hover:text-white">
            CANCEL
          </button>
          <button type="submit" (click)="submitUpdateChanges()"
                  class="text-white bg-primary-500 hover:bg-primary-500 focus:ring-4 focus:outline-none focus:bg-primary-500 font-medium rounded-lg text-sm text-center">{{heroModel && heroModel.id ? 'EDIT' : 'CREATE'}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
