<!--<h2>Top Heroes</h2>-->
<!--<div class="heroes-menu">-->
<!--  <a *ngFor="let hero of heroes" (click)="dragImage(hero)">-->
<!--    {{hero.name}}-->
<!--  </a>-->
<!--</div>-->
<!--<div class="footer d-flex justify-content-center cursor-pointer">-->
<!--  <button #btn id="btn" (click)="startBattle()" class="cursor-pointer">Start Battle</button>-->
<!--</div>-->
<!--<div class="canva-konva border" id="container">-->
<!--</div>-->


<section>
  <h2>My Heroes</h2>
  <div class="heroes-menu">
    <a *ngFor="let hero of heroes" (click)="dragHeroToCanva(hero)">
      {{hero.name}}
    </a>
  </div>
</section>

<!-- Add canvas element -->
<section class="heroes-canvas">
  <div id="container"></div>
</section>

<section class="heroes-attack">
  <button (click)="startBattle()">Start battle</button>
</section>
